<!DOCTYPE html>
<html>
<head>
  <title>Welcome</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      margin-top: 100px;
    }

    .navbar {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 15px;
      background-color: #f0f0f0;
      text-align: left;
      font-weight: bold;
    }

    h1 {
      font-size: 36px;
      margin-bottom: 10px;
    }

    .buttons {
      margin-top: 50px;
    }

    .buttons a {
      text-decoration: none;
      padding: 10px 20px;
      margin: 0 15px;
      border: 2px solid black;
      display: inline-block;
      color: black;
    }

    .buttons a:hover {
      background-color: black;
      color: white;
    }
  </style>
</head>
<body>

  <div class="navbar">
    &lt; App Name / Logo &gt;
  </div>

  <h1>Welcome to<br>&lt; App Name &gt;</h1>

  <div class="buttons">
    <a href="/login">Login</a>
    <a href="/register">Register</a>
  </div>

</body>
</html>
