<!-- welcome.ejs - Iggy -->

<!DOCTYPE html>
<html>
<head>
  <title>Welcome</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      margin-top: 100px;
    }

    .navbar {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 15px;
      background-color: #f0f0f0;
      text-align: left;
      font-weight: bold;
    }

    h1 {
      font-size: 36px;
      margin-bottom: 10px;
    }

    .buttons {
      margin-top: 50px;
    }

    .buttons a {
      text-decoration: none;
      padding: 10px 20px;
      margin: 0 15px;
      border: 2px solid black;
      display: inline-block;
      color: black;
    }

    .buttons a:hover {
      background-color: black;
      color: white;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-expand-sm navbar-light" style="background-color: #1E3A8A;">
  <div class="container">
      <a class="navbar-brand" href="/"><img src="/uploads/GPA Tracker 3.png" style="width: 200px"></a>
  </div>
</nav>

<!-- Update the welcome message -->
<h1>Welcome to<br>GPA Tracker</h1>

</body>
</html>
